*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* background-color: #42bfddff; */
    background-color: rgb(240, 240, 240);
}
h1{
    text-align: center; 
    color: rgb(14, 165, 112);
    
}
input[type="number"]{
    width: 49vw;
    height: 5vh;
    border-radius: 8px;
    outline: none;
    padding: 15px 10px;
    font-size: 1.2rem ;
    background-color: #bbe6e4ff;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 48vw;
    margin-top: 10px ;
    border-radius: 8px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #bbe6e4ff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(14, 165, 112);
    -webkit-appearance: none;
    transform: translatey(-10px);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgb(14, 165, 112);
    border-radius: 5px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.table {  
    width: 48vw;
}
table {
    width: 100%;
    text-align: left;   
    border-collapse:collapse;
    border: 0.5px solid grey;
}
table tr {
    width: 33%;
}
table tr th {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 20px 20px 20px 10px;
    border-bottom: 0.5px solid grey;
    background-color: rgb(232, 236, 236);
    background-color: #bbe6e4ff;
}
table tr td {
    font-weight: 100;
    padding: 15px 20px 15px 10px;
    border-bottom: 0.5px solid grey;
    background-color: rgb(240, 246, 246);

}

/* Responsive  */
@media only screen and (max-width: 480px) {
    body{
        gap: 20px;
        height: 90vh;
        justify-content: center  ;
        margin: 20px;
    }
    input[type="number"]{
        width: 80vw;
        height: 5vh;
    }
    input[type="range"]{
        width: 80vw;
    }
    .table {  
        width: 80vw;
    }
    h1{
        text-align: center;
        font-size: 1.8rem;
    }
    table tr th {
        padding: 7px 10px 7px 10px;
    }
    table tr td {
        padding: 5px 10px 5px 10px;
    
    }
}
